# Archivos y carpetas de Unity
[Ll]ibrary/
[Tt]emp/
obj/
Build/
Builds/
[Bb]in/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuraciones de Unity (específicos del proyecto o del entorno)
.idea/
.vs/
.vscode/

# Archivos de caché de Unity
Library/ShaderCache/
Library/Artifacts/

# Archivos específicos de plataforma
# (Asegúrate de que estas carpetas se mantengan limpias y no contengan archivos específicos para una plataforma)
Build/

# Archivos de los paquetes de Unity
Packages/packages-lock.json
Packages/manifest.json

# Archivos de configuración personal del proyecto
UserSettings/
